 {% load staticfiles %} {% load pool_extras %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="crypto currency mining pool">
  <meta name="keywords" content="RVN, ACM, BTC, ETH, LTC">
  <meta name="author" content="MiningSCore">
  <title>
    MinerSCore
  </title>
  <link href="{% static 'pool/assets/css/bootstrap-table.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'pool/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link href="{% static 'pool/assets/lib/material-design-icons/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'pool/assets/lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" />
  <link href="{% static 'pool/assets/css/app.min.css' %}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> -->
  <style>
  /* note: this is a hack for ios iframe for bootstrap themes shopify page */
  /* this chunk of css is not part of the toolkit :) */

  body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
  </style>
</head>

<body>
  <div class="be-wrapper be-nosidebar-left">
    <nav class="navbar navbar-expand fixed-top be-top-header">
      <div class="container-fluid">
        <div class="be-navbar-header"><a class="navbar-brand" href="/pool"></a>
        </div>
        <div class="be-right-navbar">
          <div class="page-title">
            <span>
                  {% if "/pool/coin" in request.get_full_path %}
                  <img src="/static/pool/assets/img/coins/coin-{{ poolid }}.png" height="40px" alt="{{ poolid }}"</img> {{poolid}}
                  {% else %}
                    Dashboard
                  {% endif %}
                </span>
          </div>
          <ul class="nav navbar-nav float-right be-icons-nav">
            {% if "/pool/coin" in request.get_full_path %}
            <li style="padding: 20px 0px 0px;" class="nav-item">
              <span class="badge badge-primary icon icon-pages float-right">Current Block: {% for block in pools %}{% if block.id == poolid %}{{block.networkStats.blockHeight|intcomma}}{% endif %}{% endfor %}</span>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="be-left-sidebar">
      <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
        <div class="left-sidebar-spacer">
          <div class="left-sidebar-scroll">
            <div class="left-sidebar-content">
              <ul class="sidebar-elements">
                <li class="divider">Menu</li>
                {% if "miners" not in request.get_full_path and "coin" not in request.get_full_path %}
                <li class="active">
                  {% else %}
                  <li>
                    {% endif %}
                    <a href="/pool/"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                  </li>
                  {% if "miners" in request.get_full_path %}
                  <li class="active">
                    {% else %}
                    <li>
                      {% endif %}
                      <a href="/pool/miners?poolid={{ poolid }}"><i class="icon mdi mdi-accounts-outline"></i><span>Miners</span></a>
                    </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="be-content">
    <div class="main-content container-fluid">
      {% block content %} {% endblock %}
      <script src="{% static 'pool/assets/lib/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'pool/assets/lib/jquery-flot/jquery.flot.js' %}"></script>
      <script src="{% static 'pool/assets/lib/datatables/datatables.net/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'pool/assets/lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'pool/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
      <script src="{% static 'pool/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'pool/assets/js/bootstrap-table.js' %}"></script>
      <!-- <script>
       var poolHash = '{% for hash in performance.stats %}{ count: {{ forloop.counter0 }}, hash: {{ hash.poolHashrate|floatformat:0 }} }, {% endfor %}';
    </script>
    <script>
        var poolHash1 = '{% for hash in performance.stats %}{ count: {{ hash.created|newdate|date:"H" }}, hash: {{ hash.poolHashrate|floatformat:0 }} }, {% endfor %}';
     </script>
     <script>
      var poolHash3 = '{% for hash in performance.stats %}{ {{ forloop.counter0 }}, {{ hash.poolHashrate|floatformat:0 }} }, {% endfor %}';
   </script>
     <script>
      var poolHash2 = '[{% for hash in performance.stats %}{{ hash.poolHashrate|floatformat:0 }}, {% endfor %}]';
   </script> -->
      <script src="{% static 'pool/assets/js/minerscore.js' %}"></script>
    {% block refresh %}
    {% endblock %} 
    </div>
  </div>
</body>

</html>