{% extends 'pool/base.html' %}
{% load pool_extras %}
{% load humanize %}

{% block content %}
<ul class="nav nav-bordered mt-4 mt-md-2 mb-0 clearfix" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#traffic" class="nav-link active" role="tab" data-toggle="tab" aria-controls="traffic">Pool Stats</a>
    </li>
    <li class="nav-item d-sm-none d-md-block" role="presentation">
      <a href="#connect" class="nav-link" role="tab" data-toggle="tab" aria-controls="connect">Connect</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#blocks" class="nav-link" role="tab" data-toggle="tab" aria-controls="blocks">Blocks</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#wallet" class="nav-link" role="tab" data-toggle="tab" aria-controls="wallet">Wallet</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#miners" class="nav-link" role="tab" data-toggle="tab" aria-controls="miners">Miners</a>
    </li>
</ul>

    <div class="nav d-flex flex-row-reverse col">
        
          <div class="p-2 bd-highlight">
            <span class="fas fa-bolt small"></span>
            <span class="small" style="text-transform: uppercase; color:#828A9F;">Network Difficulty</span>            
            <span class="small" style="white-space: nowrap">
              {% for things in pools %}
                {% if things.id == poolid %}
                  {{ things.networkStats.networkDifficulty|floatformat:2|intcomma }}
                {% endif %}
              {% endfor %}
            </span>
        
        </div>      
          
            <div class="p-2 bd-highlight">
              <span class="fas fa-globe-americas small"></span>
              <span class="small" style="text-transform: uppercase; color:#828A9F;">Network Hashrate</span>              
              <span class="small" style="white-space: nowrap">
                {% for things in pools %}
                  {% if things.id == poolid %} 
                    {% if things.networkStats.networkHashrate|division:1000000 >= 1 and things.networkStats.networkHashrate|division:1000000 < 1000 %}
                      {{ things.networkStats.networkHashrate|division:1000000|floatformat:2 }} MH/s
                    {% elif things.networkStats.networkHashrate|division:1000000000 >= 1 and things.networkStats.networkHashrate|division:1000000000 < 1000 %}
                      {{ things.networkStats.networkHashrate|division:1000000000|floatformat:2 }} GH/s
                    {% else %}
                      {{ things.networkStats.networkHashrate|division:1000000000000|floatformat:2 }} TH/s
                    {% endif %}
                  {% endif %}          
                {% endfor %}   
              </span>
            </div>            
          
        </div>

<div class="hr-divider my-4">
  <h3 class="hr-divider-content hr-divider-heading">{{ poolid }}</h3>
</div>





<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="traffic">
    
    <div class="row statcards">
      <div class="col-md-12 col-lg-6 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Connected Miners</span>
            <span class="fas fa-users"></span>
            <h2 class="statcard-number">
              {% for things in pools %}
                {% if things.id == poolid %} 
                  {{ things.poolStats.connectedMiners }}
                {% endif %}          
              {% endfor %}            
            </h2>        
          </div>
          <canvas id="sparkline1" width="378" height="256" class="sparkline"
            data-chart="spark-line"
            data-dataset="[[{% for things in performance.stats %}{{ things.connectedMiners }},{% endfor %}]]"
            data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
            data-labels="['a', 'b','c','d','e','f','g']"
            style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Pool Hashrate</span>
            <span class="fas fa-chart-area"></span>
            <h2 class="statcard-number">
              {% for things in pools %}
                {% if things.id == poolid %} 
                  {% if things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                    {{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s
                  {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                    {{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s
                  {% else %}
                    {{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s
                  {% endif %}
                {% endif %}          
              {% endfor %}   
            </h2>
          </div>          
          <canvas id="sparkline1" width="378" height="256" class="sparkline"
            data-chart="spark-line"
            data-dataset="[[{% for things in performance.stats %}{{ things.poolHashrate }},{% endfor %}]]"
            data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
            data-labels="['a', 'b','c','d','e','f','g']"
            style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>  
    </div>
  </div>
  <div role="tabpanel" class="tab-pane " id="connect">
    <div class="col-lg-5 mb-5 d-sm-none d-md-block">
      <div class="list-group mb-3">
        <h6 class="list-group-header">
          Connection Info
          <span class="float-right fas fa-link text-muted"></span>
        </h6>        
        
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Algorithm</span>
              <span class="text-muted">{{ c.coin.algorithm }}</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Payout Scheme</span>
              <span class="text-muted">{{ c.paymentProcessing.payoutScheme }}</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Minimum Payment</span>
              <span class="text-muted">{{ c.paymentProcessing.minimumPayment }} {{ poolid }}</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Pool Fee</span>
              <span class="text-muted">{{ c.poolFeePercent }}%</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
            {% for c in pools %}
              {% if c.id == poolid %}                
                <span>Difficulty</span>
                  {% for port in c.ports %}
                      <span class="text-muted">Variable / {{ port.difficulty }} &harr; </span>
                      <span class="text-muted">Variable / {{ port.varDiff.minDiff }} &harr; </span>
                    
                  {% endfor %}
              {% endif %}
            {% endfor %}
          </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Pool Address</span>              
              {% if poolid == 'RVN' %}
                {% for port in c.ports %}
                  <span class="text-muted">stratum+tcp://rvn.minerscore.com:{{ port }} -u wallet</span>
                {% endfor %}
              {% elif poolid == 'ACM' %}
                {% for port in c.ports %}
                  <span class="text-muted">stratum+tcp://acm.minerscore.com:{{ port }} -u wallet</span>
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </a>        
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="blocks">    
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="list-group mb-3">       
          <table class="table table-hover">
            <thead>
              <tr>            
                <th scope="col">Date & Time</th>
                <th scope="col">Height</th>
                <th scope="col">Effort</th>
                <th scope="col">Status</th>
                <th scope="col">Reward</th>
                <th scope="col">Confirmation</th>                                    
              </tr>
            </thead>
            <tbody>
              {% for block in blocks %}
                <tr>
                  <th scope="row">{{ block.created|naturaltime }}</a></th>                  
                  <td class="text-muted"><a target=_blank href={{ block.infoLink }}>{{ block.blockHeight }}</a></td>                  
                  <td class="text-muted">{{ block.effort|percentage|floatformat:0 }}%</td>
                  <td class="text-muted">{{ block.status }}</td>
                  <td class="text-muted">{{ block.reward }}</td>
                  <td class="text-muted">{{ block.confirmationProgress|percentage|floatformat:0 }}%</td>                                    
                </tr>
              {% endfor %}
            </tbody>
          </table>        
        </div>    
      </div>  
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="wallet">    
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="list-group mb-3"> 
          <h5> Wallet Tab</h5>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="miners">    
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="list-group mb-3">       
          <table class="table table-hover">
            <thead>
              <tr>            
                <th scope="col">Address</th>
                <th scope="col">Hashrate</th>
                <th scope="col">Share Rate</th>                                       
              </tr>
            </thead>
            <tbody>
              {% for miner in miners %}
                <tr>
                  <td class="text-muted">{{ miner.miner|truncatechars:32 }}</td> 
                  {% if miner.hashrate|division:1000000 >= 1 and miner.hashrate|division:1000000 < 1000 %}
                    <td class="text-muted">{{ miner.hashrate|division:1000000|floatformat:2 }} MH/s</td>
                  {% elif miner.hashrate|division:1000000000 >= 1 and miner.hashrate|division:1000000000 < 1000 %}
                    <td class="text-muted">{{ miner.hashrate|division:1000000000|floatformat:2 }} GH/s</td>
                  {% else %}
                    <td class="text-muted">{{ miner.hashrate|division:1000000000000|floatformat:2 }} TH/s</td>
                    {% endif %}                                                  
                  <td class="text-muted">{{ miner.sharesPerSecond|floatformat:4 }} S/s</td>                  
                </tr>
              {% endfor %}
            </tbody>
          </table>        
        </div>    
      </div>  
    </div>
  </div>
</div>


{% endblock %}