{% extends 'pool/base.html' %}
{% load pool_extras %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<div class="be-content">
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-3">
                    <div class="widget widget-tile">                      
                      <div class="data-info">
                        <div class="desc text-left">Connected Miners</div>
                        <div class="value text-center"> 
                          <span class="indicator indicator-equal mdi mdi-accounts-outline"></span>                        
                          <span class="number" data-toggle="counter" data-end="{{miners|length}}">                            
                              {{miners|length}}                            
                          </span>
                        </div>
                      </div>
                    </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
                    <div class="widget widget-tile">                      
                      <div class="data-info">
                        <div class="desc text-left">Pool Hashrate</div>
                        <div class="value text-center">
                          <span class="indicator indicator-equal mdi mdi-broken-image"></span>
                          <span class="number" data-toggle="counter" data-end="80" data-suffix="%">
                          {% for things in pools %}
                            {% if things.id == poolid %} 
                              {% if things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                                {{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s
                              {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                                {{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s
                              {% else %}
                                {{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s
                              {% endif %}
                            {% endif %}          
                          {% endfor %} </span>
                        </div>
                      </div>
                    </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
                    <div class="widget widget-tile">                      
                      <div class="data-info">
                        <div class="desc text-left">Network Hashrate</div>
                        <div class="value text-center">                            
                            <span class="indicator indicator-positive mdi mdi-broken-image"></span>
                          <span class="number" data-toggle="counter" data-end="532">
                            {% for things in pools %}
                              {% if things.id == poolid %} 
                                {% if things.networkStats.networkHashrate|division:1000000 >= 1 and things.networkStats.networkHashrate|division:1000000 < 1000 %}
                                  {{ things.networkStats.networkHashrate|division:1000000|floatformat:2 }} MH/s
                                {% elif things.networkStats.networkHashrate|division:1000000000 >= 1 and things.networkStats.networkHashrate|division:1000000000 < 1000 %}
                                  {{ things.networkStats.networkHashrate|division:1000000000|floatformat:2 }} GH/s
                                {% else %}
                                  {{ things.networkStats.networkHashrate|division:1000000000000|floatformat:2 }} TH/s
                                {% endif %}
                              {% endif %}          
                            {% endfor %}
                          </span>
                        </div>
                      </div>
                    </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
                    <div class="widget widget-tile">                      
                      <div class="data-info">
                        <div class="desc text-left">Network Difficulty</div>
                        <div class="value text-center">
                          <span class="indicator indicator-equal mdi mdi-tune"></span>
                          <span class="number" data-toggle="counter" data-end="113">
                            {% for things in pools %}
                              {% if things.id == poolid %} 
                                {{ things.networkStats.networkDifficulty|floatformat:2|intcomma }}
                              {% endif %}          
                            {% endfor %}
                          </span>
                        </div>
                      </div>
                    </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="widget widget-fullwidth">
                <div class="widget-head">
                  <div class="tools">
                    <span class="icon mdi mdi-chevron-down"></span>
                    <span class="icon mdi mdi-refresh-sync"></span>
                    <span class="icon mdi mdi-close"></span>
                  </div>
                  <span class="title">Pool Hashrate</span>
                </div>
                <div class="widget-chart-container">
                  <div class="counter">
                    <div class="value">
                      {% for things in pools %}
                        {% if things.id == poolid %} 
                          {% if things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                            {{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s
                          {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                            {{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s
                          {% else %}
                            {{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s
                          {% endif %}
                        {% endif %}          
                      {% endfor %}
                    </div>
                    <div class="desc">Last 24 hours</div>
                  </div>
                  <div data-data="{% for hash in performance.stats %}[{{ forloop.counter0 }}, {{ hash.poolHashrate|floatformat:0 }}], {% endfor %}" id="pool-hash-graph" style="height: 360px;"></div>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card card-table">
            <div class="card-header">              
              <div class="title">Blocks</div>
              <span class="card-subtitle">Blocks found by the pool</span>
            </div>
            <div class="card-body table-responsive">
              <table data-order='[[ 0, "asc" ]]' class="table table-striped table-borderless" id="blocks">
                <thead>
                  <tr>
                      <th>Date & Time</th>
                      <th>Height</th>
                      <th>Effort</th>
                      <th>Status</th>
                      <th>Reward</th>
                      <th>Confirmation</th>      
                  </tr>
                </thead>
                <tbody>
                    {% for block in blocks %}
                    <tr>
                      <td>{{ block.created|newdate|naturaltime }}</td>                 
                      <td class="text-muted"><a target=_blank href={{ block.infoLink }}>{{ block.blockHeight }}</a></td>                  
                      <td class="text-muted">{% if block.effort >= 0 %}{{ block.effort|percentage|floatformat:0 }}%{% else %}n/a{% endif %}</td>
                      <td class="text-muted">{{ block.status }}</td>
                      <td class="text-muted">{{ block.reward }}</td>
                      <td class="text-muted">{% if block.confirmationProgress != 1 %}<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="color: rgb(0, 0, 0); width: {{ block.confirmationProgress|percentage }}%;" aria-valuenow="{{ block.confirmationProgress|percentage }}" aria-valuemin="0" aria-valuemax="100">{{ block.confirmationProgress|percentage|floatformat:0 }}%</div>{% else %}
                        <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: {{ block.confirmationProgress|percentage }}%;" aria-valuenow="{{ block.confirmationProgress|percentage }}" aria-valuemin="0" aria-valuemax="100">{{ block.confirmationProgress|percentage|floatformat:0 }}%</div>{% endif %}</td>                                    
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card card-table">
            <div class="card-header">              
              <div class="title">Miners</div>
              <span class="card-subtitle">Miners working on the pool</span>
            </div>
            <div class="card-body table-responsive">
              <table data-order='[[ 2, "desc" ]]' class="table table-striped table-hover" id="miners">
                <thead>
                  <tr>
                    <th class="text-center" style="width:40%;">Address</th>
                    <th class="text-center" style="width:26%;">Hashrate</th>
                    <th class="text-center">Sharerate</th>                    
                  </tr>
                </thead>
                <tbody>
                    {% for miner in miners %}
                    <tr>
                      <td>{{ miner.miner }}</td>                 
                      <td class="text-muted text-center">
                        {% if miner.hashrate|division:1000 >= 1 and miner.hashrate|division:1000 < 1000 %}
                          {{ miner.hashrate|division:1000 }} KH/s
                        {% elif miner.hashrate|division:1000000 >= 1 and miner.hashrate|division:1000000 < 1000 %}
                          {{ miner.hashrate|division:1000000|floatformat:2 }} MH/s
                        {% elif miner.hashrate|division:1000000000 >= 1 and miner.hashrate|division:1000000000 < 1000 %}
                          {{ miner.hashrate|division:1000000000|floatformat:2 }} GH/s
                        {% else %}
                          {{ miner.hashrate|division:1000000000000|floatformat:2 }} TH/s
                        {% endif %}
                      </td>                  
                      <td class="text-muted text-center">{{ miner.sharesPerSecond|floatformat:5 }} S/s</td>                      
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card card-table">
            <div class="card-header">
              <div class="title">Payments</div>
              <span class="card-subtitle">Payents made</span>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-striped table-hover" id="payments">
                <thead>
                  <tr>
                    <th class="text-center" style="width:40%;">Date</th>
                    <th class="text-center" style="width:26%;">Address</th>
                    <th class="text-center">Amount</th>                    
                  </tr>
                     </thead>
                        <tbody>
                            {% for payment in payments %}
                            <tr>
                              <td>{{ payment.created|newdate }}</td>
                              <td class="text-muted text-center"><a href={{ payment.addressInfoLink }} target=_blank>{{ payment.address }}</a></td>                 
                              <td class="text-muted text-center">{{ payment.amount }}</td>                                                
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                           
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="widget be-loading">
            <div class="widget-head">
              <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync toggle-loading"></span><span class="icon mdi mdi-close"></span></div>
              <div class="title">Top Sales</div>
            </div>
            <div class="widget-chart-container">
              <div id="top-sales" style="height: 178px;"></div>
              <div class="chart-pie-counter">36</div>
            </div>
            <div class="chart-legend">
              <table>
                <tr>
                  <td class="chart-legend-color"><span data-color="top-sales-color1"></span></td>
                  <td>Premium Purchases</td>
                  <td class="chart-legend-value">125</td>
                </tr>
                <tr>
                  <td class="chart-legend-color"><span data-color="top-sales-color2"></span></td>
                  <td>Standard Plans</td>
                  <td class="chart-legend-value">1569</td>
                </tr>
                <tr>
                  <td class="chart-legend-color"><span data-color="top-sales-color3"></span></td>
                  <td>Services</td>
                  <td class="chart-legend-value">824</td>
                </tr>
              </table>
            </div>
            <div class="be-spinner">
              <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg">
                <circle class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="widget widget-calendar">
            <div id="calendar-widget"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-header">Latest Activity</div>
            <div class="card-body">
              <ul class="user-timeline user-timeline-compact">
                <li class="latest">
                  <div class="user-timeline-date">Just Now</div>
                  <div class="user-timeline-title">Create New Page</div>
                  <div class="user-timeline-description">Vestibulum lectus nulla, maximus in eros non, tristique.</div>
                </li>
                <li>
                  <div class="user-timeline-date">Today - 15:35</div>
                  <div class="user-timeline-title">Back Up Theme</div>
                  <div class="user-timeline-description">Vestibulum lectus nulla, maximus in eros non, tristique.</div>
                </li>
                <li>
                  <div class="user-timeline-date">Yesterday - 10:41</div>
                  <div class="user-timeline-title">Changes In The Structure</div>
                  <div class="user-timeline-description">Vestibulum lectus nulla, maximus in eros non, tristique.      </div>
                </li>
                <li>
                  <div class="user-timeline-date">Yesterday - 3:02</div>
                  <div class="user-timeline-title">Fix the Sidebar</div>
                  <div class="user-timeline-description">Vestibulum lectus nulla, maximus in eros non, tristique.</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="widget be-loading">
            <div class="widget-head">
              <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync toggle-loading"></span><span class="icon mdi mdi-close"></span></div>
              <div class="title">Conversions</div>
              {% for hash in performance.stats %} [{{ forloop.counter0 }}, {{ hash.poolHashrate|floatformat:0 }}], {% endfor %}
            </div>
            <div class="widget-chart-container">
              <div class="widget-chart-info mb-4">
                <div class="indicator indicator-positive float-right"><span class="icon mdi mdi-chevron-up"></span><span class="number">15%</span></div>
                <div class="counter counter-inline">
                  <div class="value">156k</div>
                  <div class="desc">Impressions</div>
                </div>
              </div>
              <div id="map-widget" style="height: 265px;"></div>
            </div>
            <div class="be-spinner">
              <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg">
                <circle class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<ul class="nav nav-bordered mt-4 mt-md-2 mb-0 clearfix" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#traffic" class="nav-link active" role="tab" data-toggle="tab" aria-controls="traffic">Pool Stats</a>
    </li>
    <li class="nav-item d-sm-none d-md-block" role="presentation">
      <a href="#connect" class="nav-link" role="tab" data-toggle="tab" aria-controls="connect">Connect</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#blocks" class="nav-link" role="tab" data-toggle="tab" aria-controls="blocks">Blocks</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#wallet" class="nav-link" role="tab" data-toggle="tab" aria-controls="wallet">Wallet</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#miners" class="nav-link" role="tab" data-toggle="tab" aria-controls="miners">Miners</a>
    </li>
</ul>

    <div class="nav d-flex flex-row-reverse col">
        
          <div class="p-2 bd-highlight">
            <span class="fas fa-bolt small"></span>
            <span class="small" style="text-transform: uppercase; color:#828A9F;">Network Difficulty</span>            
            <span class="small" style="white-space: nowrap">
              {% for things in pools %}
                {% if things.id == poolid %}
                  {{ things.networkStats.networkDifficulty|floatformat:2|intcomma }}
                {% endif %}
              {% endfor %}
            </span>
        
        </div>      
          
            <div class="p-2 bd-highlight">
              <span class="fas fa-globe-americas small"></span>
              <span class="small" style="text-transform: uppercase; color:#828A9F;">Network Hashrate</span>              
              <span class="small" style="white-space: nowrap">
                {% for things in pools %}
                  {% if things.id == poolid %} 
                    {% if things.networkStats.networkHashrate|division:1000000 >= 1 and things.networkStats.networkHashrate|division:1000000 < 1000 %}
                      {{ things.networkStats.networkHashrate|division:1000000|floatformat:2 }} MH/s
                    {% elif things.networkStats.networkHashrate|division:1000000000 >= 1 and things.networkStats.networkHashrate|division:1000000000 < 1000 %}
                      {{ things.networkStats.networkHashrate|division:1000000000|floatformat:2 }} GH/s
                    {% else %}
                      {{ things.networkStats.networkHashrate|division:1000000000000|floatformat:2 }} TH/s
                    {% endif %}
                  {% endif %}          
                {% endfor %}   
              </span>
            </div>            
          
        </div>

<div class="hr-divider my-4">
  <h3 class="hr-divider-content hr-divider-heading">{{ poolid }}</h3>
</div>





<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="traffic">
    
    <div class="row statcards">
      <div class="col-md-12 col-lg-6 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Connected Miners</span>
            <span class="fas fa-users"></span>
            <h2 class="statcard-number">
              {% for things in pools %}
                {% if things.id == poolid %} 
                  {{ things.poolStats.connectedMiners }}
                {% endif %}          
              {% endfor %}            
            </h2>        
          </div>
          <canvas id="sparkline1" width="378" height="256" class="sparkline"
            data-chart="spark-line"
            data-dataset="[[{% for things in performance.stats %}{{ things.connectedMiners }},{% endfor %}]]"
            data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
            data-labels="['a', 'b','c','d','e','f','g']"
            style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Pool Hashrate</span>
            <span class="fas fa-chart-area"></span>
            <h2 class="statcard-number">
              {% for things in pools %}
                {% if things.id == poolid %} 
                  {% if things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                    {{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s
                  {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                    {{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s
                  {% else %}
                    {{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s
                  {% endif %}
                {% endif %}          
              {% endfor %}   
            </h2>
          </div>          
          <canvas id="sparkline1" width="378" height="256" class="sparkline"
            data-chart="spark-line"
            data-dataset="[[{% for things in performance.stats %}{{ things.poolHashrate }},{% endfor %}]]"
            data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
            data-labels="['a', 'b','c','d','e','f','g']"
            style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>  
    </div>
  </div>
  <div role="tabpanel" class="tab-pane " id="connect">
    <div class="col-lg-5 mb-5 d-sm-none d-md-block">
      <div class="list-group mb-3">
        <h6 class="list-group-header">
          Connection Info
          <span class="float-right fas fa-link text-muted"></span>
        </h6>        
        
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Algorithm</span>
              <span class="text-muted">{{ c.coin.algorithm }}</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Payout Scheme</span>
              <span class="text-muted">{{ c.paymentProcessing.payoutScheme }}</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Minimum Payment</span>
              <span class="text-muted">{{ c.paymentProcessing.minimumPayment }} {{ poolid }}</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Pool Fee</span>
              <span class="text-muted">{{ c.poolFeePercent }}%</span>
            {% endif %}
          {% endfor %}
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
            {% for c in pools %}
              {% if c.id == poolid %}                
                <span>Difficulty</span>
                  {% for port in c.ports %}
                      <span class="text-muted">Variable / {{ port.difficulty }} &harr; </span>
                      <span class="text-muted">Variable / {{ port.varDiff.minDiff }} &harr; </span>
                    
                  {% endfor %}
              {% endif %}
            {% endfor %}
          </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          {% for c in pools %}
            {% if c.id == poolid %}                
              <span>Pool Address</span>              
              {% if poolid == 'RVN' %}
                {% for port in c.ports %}
                  <span class="text-muted">stratum+tcp://rvn.minerscore.com:{{ port }} -u wallet</span>
                {% endfor %}
              {% elif poolid == 'ACM' %}
                {% for port in c.ports %}
                  <span class="text-muted">stratum+tcp://acm.minerscore.com:{{ port }} -u wallet</span>
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </a>        
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="blocks">    
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="list-group mb-3">       
          <table class="table table-hover">
            <thead>
              <tr>            
                <th scope="col">Date & Time</th>
                <th scope="col">Height</th>
                <th scope="col">Effort</th>
                <th scope="col">Status</th>
                <th scope="col">Reward</th>
                <th scope="col">Confirmation</th>                                    
              </tr>
            </thead>
            <tbody>
              {% for block in blocks %}
                <tr>
                  <th scope="row">{{ block.created|naturaltime }}</a></th>                  
                  <td class="text-muted"><a target=_blank href={{ block.infoLink }}>{{ block.blockHeight }}</a></td>                  
                  <td class="text-muted">{{ block.effort|percentage|floatformat:0 }}%</td>
                  <td class="text-muted">{{ block.status }}</td>
                  <td class="text-muted">{{ block.reward }}</td>
                  <td class="text-muted">{{ block.confirmationProgress|percentage|floatformat:0 }}%</td>                                    
                </tr>
              {% endfor %}
            </tbody>
          </table>        
        </div>    
      </div>  
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="wallet">    
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="list-group mb-3"> 
          <h5> Wallet Tab</h5>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="miners">    
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="list-group mb-3">       
          <table class="table table-hover">
            <thead>
              <tr>            
                <th scope="col">Address</th>
                <th scope="col">Hashrate</th>
                <th scope="col">Share Rate</th>                                       
              </tr>
            </thead>
            <tbody>
              {% for miner in miners %}
                <tr>
                  <td class="text-muted">{{ miner.miner|truncatechars:32 }}</td> 
                  {% if miner.hashrate|division:1000000 >= 1 and miner.hashrate|division:1000000 < 1000 %}
                    <td class="text-muted">{{ miner.hashrate|division:1000000|floatformat:2 }} MH/s</td>
                  {% elif miner.hashrate|division:1000000000 >= 1 and miner.hashrate|division:1000000000 < 1000 %}
                    <td class="text-muted">{{ miner.hashrate|division:1000000000|floatformat:2 }} GH/s</td>
                  {% else %}
                    <td class="text-muted">{{ miner.hashrate|division:1000000000000|floatformat:2 }} TH/s</td>
                    {% endif %}                                                  
                  <td class="text-muted">{{ miner.sharesPerSecond|floatformat:4 }} S/s</td>                  
                </tr>
              {% endfor %}
            </tbody>
          </table>        
        </div>    
      </div>  
    </div>
  </div>
</div>

{% endblock %}