{% extends 'pool/base.html' %}
{% load pool_extras %}
{% load humanize %}
{% load staticfiles %}

{% block content %}


    <div class="row">
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">                      
          <div class="data-info">
            <div class="desc text-left">Connected Miners</div>
              <div class="value text-center"> 
                <span class="indicator indicator-equal mdi mdi-accounts-outline"></span>                        
                <span class="number" data-toggle="counter" data-end="{{miners|length}}">                            
                  {% for miner in pools %}
                    {% if miner.id == poolid %}
                      {{miner.poolStats.connectedMiners}}                            
                    {% endif %}
                  {% endfor %}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">                      
            <div class="data-info">
              <div class="desc text-left">Pool Hashrate</div>
                <div class="value text-center">
                  <span class="indicator indicator-equal mdi mdi-broken-image"></span>
                  <span class="number" data-toggle="counter" data-end="80" data-suffix="%">
                    {% for things in pools %}
                      {% if things.id == poolid %} 
                        {% if things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                          {{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s
                        {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                          {{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s
                        {% else %}
                          {{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s
                        {% endif %}
                      {% endif %}          
                    {% endfor %} 
                  </span>
                </div>
              </div>
            </div>
          </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">                      
            <div class="data-info">
              <div class="desc text-left">Network Hashrate</div>
              <div class="value text-center">                            
                <span class="indicator indicator-positive mdi mdi-broken-image"></span>
                <span class="number" data-toggle="counter" data-end="532">
                  {% for things in pools %}
                    {% if things.id == poolid %} 
                      {% if things.networkStats.networkHashrate|division:1000000 >= 1 and things.networkStats.networkHashrate|division:1000000 < 1000 %}
                        {{ things.networkStats.networkHashrate|division:1000000|floatformat:2 }} MH/s
                      {% elif things.networkStats.networkHashrate|division:1000000000 >= 1 and things.networkStats.networkHashrate|division:1000000000 < 1000 %}
                        {{ things.networkStats.networkHashrate|division:1000000000|floatformat:2 }} GH/s
                      {% else %}
                        {{ things.networkStats.networkHashrate|division:1000000000000|floatformat:2 }} TH/s
                      {% endif %}
                    {% endif %}          
                  {% endfor %}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">                      
            <div class="data-info">
              <div class="desc text-left">Network Difficulty</div>
              <div class="value text-center">
                <span class="indicator indicator-equal mdi mdi-tune"></span>
                <span class="number" data-toggle="counter" data-end="113">
                  {% for things in pools %}
                    {% if things.id == poolid %} 
                      {{ things.networkStats.networkDifficulty|floatformat:2|intcomma }}
                    {% endif %}          
                  {% endfor %}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-4">
            <div class="widget widget-tile">                      
              <div class="data-info">
                <div class="desc text-left">{{ poolid }} Info</div>
                <div class="value text-left">                  
                    {% for things in pools %}
                      {% if things.id == poolid %} 
                        <img src="/static/pool/assets/img/coins/coin-{{ things.id }}.png" height="120px" alt="{{ things.id }}"</img>
                        <b>Website: </b><br />
                        <b>Algorithm: {{ things.coin.algorithm }}</b><br />
                      {% endif %}          
                    {% endfor %}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="widget widget-fullwidth be-loading">
              <div class="widget-head">
                <div class="tools">
                  <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="icon mdi mdi-more-vert d-inline-block d-md-none"></span></a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Week</a><a class="dropdown-item" href="#">Month</a><a class="dropdown-item" href="#">Year</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Today</a>
                    </div>
                  </div><span class="icon mdi mdi-chevron-down"></span><span class="icon toggle-loading mdi mdi-refresh-sync"></span><span class="icon mdi mdi-close"></span>
                </div>
                <div class="button-toolbar d-none d-md-block">
                  <div class="btn-group">
                    <button class="btn btn-secondary" type="button">Week</button>
                    <button class="btn btn-secondary active" type="button">Month</button>
                    <button class="btn btn-secondary" type="button">Year</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-secondary" type="button">Today</button>
                  </div>
                </div><span class="title">Recent Movement</span>
              </div>
              <div class="widget-chart-container">
                <div class="widget-chart-info">
                  <ul class="chart-legend-horizontal">
                    <li><span data-color="main-chart-color1"></span> Purchases</li>
                    <li><span data-color="main-chart-color2"></span> Plans</li>
                    <li><span data-color="main-chart-color3"></span> Services</li>
                  </ul>
                </div>
                <div class="widget-counter-group widget-counter-group-right">
                  <div class="counter counter-big">
                    <div class="value">25%</div>
                    <div class="desc">Purchase</div>
                  </div>
                  <div class="counter counter-big">
                    <div class="value">5%</div>
                    <div class="desc">Plans</div>
                  </div>
                  <div class="counter counter-big">
                    <div class="value">5%</div>
                    <div class="desc">Services</div>
                  </div>
                </div>
                <div id="pool-hash-graph" style="height: 260px;"></div>
              </div>
              <div class="be-spinner">
                <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg">
                  <circle class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>
          </div>
        </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="widget widget-fullwidth">
              <div class="widget-head">
                <div class="tools">
                  <span class="icon mdi mdi-chevron-down"></span>
                  <span class="icon mdi mdi-refresh-sync"></span>
                  <span class="icon mdi mdi-close"></span>
                </div>
                <span class="title">Pool Hashrate</span>
              </div>
              <div class="widget-chart-container">
                <div class="counter">
                  <div class="value">
                    {% for things in pools %}
                      {% if things.id == poolid %} 
                        {% if things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                          {{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s
                        {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                          {{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s
                        {% else %}
                          {{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s
                        {% endif %}
                      {% endif %}          
                    {% endfor %}
                  </div>
                  <div class="desc">Last 24 hours</div>
                </div>
                <div>
                  <canvas data-dataset="{% for hash in performance.stats %}[ {{ forloop.counter0 }}, {{ hash.poolHashrate|floatformat:0 }} ], {% endfor %}" id="pool-hash-graph" style="height: 360px;"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="card card-table">
            <div class="card-header">              
              <div class="title">Blocks</div>
              <span class="card-subtitle">Blocks found by the pool</span>
            </div>
            <div style="padding: 1px 3px;" class="card-body table-responsive">
              <table id="blocks" class="table table-sm table-striped table-no-bordered" data-sort-name="date" data-sort-order="desc" data-pagination="true">
                <thead>
                  <tr>
                    <th data-sortable="true" data-field="date">Date & Time</th>
                    <th data-sortable="true" data-field="height">Height</th>
                    <th data-sortable="true" data-field="effort">Effort</th>
                    <th data-sortable="true" data-field="status">Status</th>
                    <th data-sortable="true" data-field="reward">Reward</th>
                    <th data-sortable="true" data-field="confirmation">Confirmation</th>      
                  </tr>
                </thead>
                <tbody>
                  {% for block in blocks %}
                    <tr>
                      <td>{{ block.created|newdate|date:"Y/m/d H:i:s" }}</td>                 
                      <td class="text-muted"><a target=_blank href={{ block.infoLink }}>{{ block.blockHeight }}</a></td>                  
                      <td class="text-muted">{% if block.effort >= 0 %}{{ block.effort|percentage|floatformat:0 }}%{% else %}n/a{% endif %}</td>
                      <td class="text-muted">{{ block.status }}{% if block.status == 'orphaned' %} <i class="far fa-frown" style="color:#EB4D40;"></i>{% endif %}</td>
                      <td class="text-muted">{{ block.reward }}</td>
                      <td class="text-muted">
                        {% if block.confirmationProgress != 1 %}
                          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="color: rgb(0, 0, 0); width: {{ block.confirmationProgress|percentage }}%" aria-valuenow="{{ block.confirmationProgress|percentage }}" aria-valuemin="0" aria-valuemax="100">{{ block.confirmationProgress|percentage|floatformat:0 }}%</div>
                        {% else %}
                          <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: {{ block.confirmationProgress|percentage }}%" aria-valuenow="{{ block.confirmationProgress|percentage }}" aria-valuemin="0" aria-valuemax="100">{{ block.confirmationProgress|percentage|floatformat:0 }}%</div>
                        {% endif %}
                      </td>                                    
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="card card-table">
            <div class="card-header">              
              <div class="title">Miners</div>
              <span class="card-subtitle">Miners working on the pool</span>
            </div>
            <div style="padding: 1px 3px;" class="card-body table-responsive">
              <table id="miners" class="table table-sm table-striped table-no-bordered" data-pagination="true" data-search="true">
                <thead>
                  <tr>
                    <th data-sortable="true" data-field="address" class="text-center">Address</th>
                    <th data-sortable="true" data-field="hashrate" class="text-center">Hashrate</th>
                    <th data-sortable="true" data-field="sharerate" class="text-center">Sharerate</th>                    
                  </tr>
                </thead>
                <tbody>
                  {% for miner in miners %}
                    <tr>
                      <td><a href="/pool/miners?poolid={{ poolid }}&walletid={{ miner.miner }}">{{ miner.miner }}</a></td>                 
                      <td class="text-muted text-center">

                        {% if miner.hashrate == 0 %}
                          {{ miner.hashrate }}
                        {% elif miner.hashrate|division:1000 >= 1 and miner.hashrate|division:1000 < 1000 %}
                          {{ miner.hashrate|division:1000 }} KH/s
                        {% elif miner.hashrate|division:1000000 >= 1 and miner.hashrate|division:1000000 < 1000 %}
                          {{ miner.hashrate|division:1000000|floatformat:2 }} MH/s
                        {% elif miner.hashrate|division:1000000000 >= 1 and miner.hashrate|division:1000000000 < 1000 %}
                          {{ miner.hashrate|division:1000000000|floatformat:2 }} GH/s
                        {% else %}  
                        {{ miner.hashrate }}                        
                          {{ miner.hashrate|division:1000000000000|floatformat:2 }} TH/s
                        {% endif %}
                      </td>                  
                      <td class="text-muted text-center">{{ miner.sharesPerSecond|floatformat:5 }} S/s</td>                      
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card card-table">
            <div class="card-header">
              <div class="title">Payments</div>
              <span class="card-subtitle">Payents made</span>
            </div>
            <div style="padding: 1px 3px;" class="card-body table-responsive">
              <table id="payments" class="table table-sm table-striped table-no-bordered" data-sort-name="date" data-sort-order="desc" data-pagination="true" data-search="true">
                <thead>
                  <tr>
                    <th data-sortable="true" data-field="date" class="text-center">Date</th>
                    <th data-sortable="true" data-field="address" class="text-center" style="width:26%;">Address</th>
                    <th data-sortable="true" data-field="amount" class="text-center">Amount</th>                    
                  </tr>
                </thead>
                <tbody>
                  {% for payment in payments %}
                    <tr>
                      <td>{{ payment.created|newdate|date:"Y/m/d H:i" }}</td>
                      <td class="text-muted text-center"><a href={{ payment.addressInfoLink }} target=_blank>{{ payment.address }}</a></td>                 
                      <td class="text-muted text-center">{{ payment.amount }}</td>                                                
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>                           
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card card-table">
            <div class="card-header">
              <div class="title">Payments</div>
              <span class="card-subtitle">Payents made</span>
            </div>
            <div class="card-body table-responsive">
              <table data-order='[[ 0, "desc" ]]' class="table table-striped table-hover" id="payments1">
                <thead>
                  <tr>
                    <th class="text-center" style="width:40%;">Date</th>
                    <th class="text-center" style="width:26%;">Address</th>
                    <th class="text-center">Amount</th>                    
                  </tr>
                </thead>
                <tbody>
                  {% for payment in payments %}
                    <tr>
                      <td>{{ payment.created|newdate|date:"Y/m/d H:i" }}</td>
                      <td class="text-muted text-center"><a href={{ payment.addressInfoLink }} target=_blank>{{ payment.address }}</a></td>                 
                      <td class="text-muted text-center">{{ payment.amount }}</td>                                                
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>                             
          </div>
        </div>
      </div>
    
      

{% endblock %}
{% block refresh %}
<script>
    setTimeout(function() {
      location.reload();
    }, 60000);
</script>
{% endblock %}