{% extends 'pool/base.html' %}
{% load pool_extras %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-12 col-lg-4  float-left">
    <div class="card card-contrast">
      <div class="card-header card-header-contrast card-header-featured">
        Welcome
      </div>
      <div class="card-body">
        <div class="card-title">
          Information
        </div>
        <p>
          Curabitur eleifend augue non convallis condimentum. In iaculis eu est at iaculis Praesent finibus est sit amet orci posuere vulputate. 
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 float-right">
    <div class="card card-table">
      <div class="card-header">
        Pools        
      </div>
      <div style="padding:5px;" class="card-body">
        <table id="pools" class="table table-sm table-striped table-no-bordered" data-sort-name="algo" data-sort-order="asc">
          <thead>
            <tr>            
              <th data-sortable="true" data-field="coin">Coins</th>
              <th data-sortable="true" data-field="port">Port</th>
              <th data-sortable="true" data-field="port">NiceHash Port</th>
              <th data-sortable="true" data-field="algo">Algothrithm</th>
              <th data-sortable="true" data-field="miners">Miners</th>
              <th data-sortable="true" data-field="poolhash">Pool Hashrate</th>
              <th data-sortable="true" data-field="difficulty">Network Difficulty</th>
              <th data-sortable="true" data-field="nethash">Network Hashrate</th>        
              <th data-sortable="true" data-field="fee">Pool Fee</th>
            </tr>
          </thead>
          <tbody>
            {% for things in pools %}
              <tr>
                <td class="text-muted"><img src="/static/pool/assets/img/coins/coin-{{ things.id }}.png" height="20px" alt="{{ things.id }}"</img> <a href=/pool/coin?poolid={{ things.id }}>{{ things.id }}</a> {% if things.id == 'XMN' %}<span class="badge badge-pill badge-success">New!</span>{% endif %}{% if things.poolStats.connectedMiners > 20 %}<span class="badge badge-pill badge-danger">Smokin!</span>{% endif %}</td>
                {% for port in things.ports %}
                  <td class="text-muted">{{ port }}</td>
                {% endfor %}
                <td class="text-muted">{{ things.coin.algorithm }}</td>
                <td class="text-muted">{{ things.poolStats.connectedMiners }}</td>
                {% if things.poolStats.poolHashrate == 0 %}
                  <td class="text-muted">{{ things.poolStats.poolHashrate }} MH/s</td>
                {% elif things.poolStats.poolHashrate|division:1000000 >= 1 and things.poolStats.poolHashrate|division:1000000 < 1000 %}
                  <td class="text-muted">{{ things.poolStats.poolHashrate|division:1000000|floatformat:2 }} MH/s</td>
                {% elif things.poolStats.poolHashrate|division:1000000000 >= 1 and things.poolStats.poolHashrate|division:1000000000 < 1000 %}
                  <td class="text-muted">{{ things.poolStats.poolHashrate|division:1000000000|floatformat:2 }} GH/s</td>
                {% else %}
                  <td class="text-muted">{{ things.poolStats.poolHashrate|division:1000000000000|floatformat:2 }} TH/s</td>
                {% endif %}
                <td class="text-muted">{{ things.networkStats.networkDifficulty|floatformat:2|intcomma }}</td>
                {% if things.networkStats.networkHashrate|division:1000000 >= 1 and things.networkStats.networkHashrate|division:1000000 < 1000 %}
                  <td class="text-muted">{{ things.networkStats.networkHashrate|division:1000000|floatformat:2 }} MH/s</td>
                {% elif things.networkStats.networkHashrate|division:1000000000 >= 1 and things.networkStats.networkHashrate|division:1000000000 < 1000 %}
                  <td class="text-muted">{{ things.networkStats.networkHashrate|division:1000000000|floatformat:2 }} GH/s</td>
                {% else %}
                  <td class="text-muted">{{ things.networkStats.networkHashrate|division:1000000000000|floatformat:2 }} TH/s</td>
                {% endif %}
                <td class="text-muted">{{ things.poolFeePercent }}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





{% endblock %}