{% extends 'pool/base.html' %}
{% load pool_extras %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card card-border-color card-border-color-primary">
      <div class="card-header card-header-divider">Wallet Address<span class="card-subtitle">
        Something</span>
      </div>
      <div class="card-body">
        <form method="GET" action="">
          <div class="form-group pt-2">
            <label for="inputWallet">Wallet address</label>
            <div class="col-12">
              {% if wallet != 'NONE' %}
                <input class="form-control" name="walletid" id="inputWallet" type="text" placeholder="Enter Wallet Address" value="{{ wallet }}" required="">
              {% else %}
                <input class="form-control" name="walletid" id="inputWallet" type="text" placeholder="Enter Wallet Address" required="">
                {% endif %}
              <input class="form-control" name="poolid" value="{{ poolid }}" type="hidden">
            </div>              
          </div>            
          <div class="col-12">
            <p class="text-center">
              <button class="btn btn-space btn-danger" style="width: 200px;" type="submit">Load</button>              
            </p>
          </div>      
        </form>
      </div>
    </div>
  </div>    
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header card-header-divider">Pending Shares <small class="text-muted">PPLNS shares</small></div>
      <div class="card-body mt-3 text-center">         
        <h1 class="text-success"><span class="fas fa-handshake float-left"></span> {{ miner_wallet.pendingShares|intcomma }}</h1>      
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header card-header-divider">Miner's Hashrate</div>
      <div class="card-body mt-3 text-center">
        <h1 class="text-success"><span class="fas fa-hashtag float-left"></span> 
          {% if miners %}
            {% for miner in miners %}          
              {% if wallet == miner.miner %}
                {% if miner.hashrate|division:1000 >= 1 and miner.hashrate|division:1000 < 1000 %}
                  {{ miner.hashrate|division:1000 }} kH/s
                {% elif miner.hashrate|division:1000000 >= 1 and miner.hashrate|division:1000000 < 1000 %}
                  {{ miner.hashrate|division:1000000|floatformat:2 }} MH/s
                {% elif miner.hashrate|division:1000000000 >= 1 and miner.hashrate|division:1000000000 < 1000 %}
                  {{ miner.hashrate|division:1000000000|floatformat:2 }} GH/s
                {% else %}
                  {{ miner.hashrate|division:1000000000000|floatformat:2 }} TH/s
                {% endif %}
              {% else %}
                0
              {% endif %}
            {% endfor %}
          {% else %}
            0
          {% endif %}
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header card-header-divider">Pending Balance</div>
        <div class="card-body mt-3 text-center">         
          <h1 class="text-success"><span class="fas fa-piggy-bank float-left"></span> 
            {{ miner_wallet.pendingBalance|intcomma }} {{ poolid }}
          </h1>      
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header card-header-divider">Paid Balance</div>
        <div class="card-body mt-3 text-center">
          <h1 class="text-success"><span class="fas fa-hand-holding-usd float-left"></span> 
            {{ miner_wallet.totalPaid|intcomma }} {{ poolid }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <div class="card card-table">
          <div class="card-header">              
            <div class="title">Workers</div>
            <span class="card-subtitle">Connected Workers</span>
          </div>
          <div style="padding: 3px 3px;" class="card-body table-responsive">
            <table class="table table-sm table-striped table-no-bordered">
              <thead>
                <tr>
                  <th>Worker</th>
                  <th>Hashrate</th>
                  <th>Shares</th>                      
                </tr>
              </thead>
              <tbody>
                All {{ miner_wallet }}<br>
                {% for workers in miner_wallet.items %}
                 {% for worker in workers.items %}
                
                
                  <tr>
                    <td>{{ worker }}</td>                     
                    <td class="text-muted">{{ worker.hashrate }}</td>                  
                    <td class="text-muted">{{ worker.sharesPerSecond }} S/s</td>                                                                        
                  </tr>
                
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


    
    
      

{% endblock %}
{% block refresh %}
<script>
    setTimeout(function() {
      location.reload();
    }, 60000);
</script>
{% endblock %}